.DS_store

__pycache__

*_venv/

customer_churn/data/*
!customer_churn/data/.gitignore
customer_churn/images/*
!customer_churn/images/.gitignore
customer_churn/logs/*
!customer_churn/logs/.gitignore
customer_churn/models/*
!customer_churn/models/.gitignore